<ion-card *ngFor="let item of newsList">
  <ion-card-header>
    <ion-card-title *ngIf="item?.title?.includes('-')">{{
      item?.title?.substring(0, item?.title?.lastIndexOf("-"))
    }}</ion-card-title>
    <ion-card-title *ngIf="!item?.title?.includes('-')">{{
      item?.title
    }}</ion-card-title>
    <ion-card-subtitle>{{ item?.description }}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <img *ngIf="item?.urlToImage" [src]="item?.urlToImage" />
    <p>{{ item?.content }}</p>
    <ion-item lines="none">
      <ion-avatar style="width: 20px; height: 20px;">
        <img *ngIf="favIconsUrl + item?.url" [src]="favIconsUrl + item?.url" />
      </ion-avatar>
      <p style="padding-left: 10px;display: inline;" *ngIf="item?.title?.includes('-')">
        {{
          item?.title?.substring(
            item?.title?.lastIndexOf("-") + 1,
            item?.title?.length
          )
        }}
      </p>
      <p style="padding-left: 10px;display: inline;" *ngIf="!item?.title?.includes('-')">
        {{
          item?.source?.name
        }}
      </p>
      <p style="padding-left: 10px;display: inline;">
        {{ publishedTime(item?.publishedAt) }} Hours ago
      </p>
      <ion-icon
        style="padding-left: 10px"
        name="eye"
        (click)="viewNewsSource(item.url)"
      ></ion-icon>
    </ion-item>
  </ion-card-content>
</ion-card>
<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Loading more data..."
  >
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
