<ion-header translucent>
    <ion-toolbar>
      <ion-title>Settings</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>
    <ion-list class="ion-no-margin ion-no-padding">
        <ion-item>
          <ion-label position="stacked">News items to load at once</ion-label>
          <ion-input required type="number" [(ngModel)]="numberofNews"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Categories</ion-label>
            <ion-select  interface ="popover" (ionChange)="onItemChanged($event)" multiple>
              <ion-select-option [value]="i" [selected]="item.selected" *ngFor="let item of newsCategories; let i=index">{{item.type}}</ion-select-option>
            </ion-select>
          </ion-item>
      </ion-list>

      <div class="ion-padding">
        <ion-button expand="block" type="submit" class="ion-no-margin" (click)="saveSettings()">Save</ion-button>
      </div>
  </ion-content>