<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar color="medium" #box id="searchBar"
    (keyup.enter)="search(box.value)"
    (ionBlur)="search(box.value)"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-content *ngIf="isSearchPerformed==false">
    <ion-tabs
      appSwipetab
      (ionTabsDidChange)="ionTabsDidChange($event)"
      (tabChange)="onTabChange($event)"
      #myTabs
    >
      <ion-tab-bar slot="bottom" style="overflow: auto">
        <ng-container *ngFor="let item of newsCategories; let i=index;">
            <ion-tab-button  [tab]="item.path"  *ngIf="item.selected==true" [ngStyle]="{'margin-left': (devWidth < 500 && i==0 && newsCategories.length>4) ?  (550-devWidth)+'px' : ''}">
                <ion-icon [name]="item.icon"></ion-icon>
                <ion-label>{{item.type}}</ion-label>
            </ion-tab-button>
        </ng-container>
      </ion-tab-bar>
    </ion-tabs>
  </ion-content>
  <ion-content *ngIf="isSearchPerformed==true">
      <ion-card class="cardcol" style="border-radius:15px">
         <ion-card-header>
          <ion-item class="close-btn" (click)="close();">
              Search Results
              <ion-icon name="close-circle" slot="end"></ion-icon>
              </ion-item>
        </ion-card-header>
        <ion-card-content style="padding: 0px">
            <app-view-news-item  [requestParams]="requestParams" [isSearch]="true"></app-view-news-item>
        </ion-card-content>
      </ion-card>
    </ion-content>
</ion-content>